
.ostavki{
    position: relative;
    top: 50px;
    left: 700px;
    margin-left: 300px;
    display: flex;
    width: 450px;
    height: 100px;
    background: rgb(204, 245, 197);
    border-radius: 5px;
    padding: 20px;
    margin-top: 5px;
}
.avatar{
    border-radius: 50%;
    cursor: pointer;
    width: 80px;
    height: 80px;
}
.name{
    position: relative;
    top: 70px;
    left: -60px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    color: rgb(35, 61, 30);
}
.message{
    left: 120px;
    top: 0px;
    font-family: "Times New Roman";
}